@page "/llc"
@inherits PageBase
@using MegaSchool1.Components

<style>
    ol li {
        margin-bottom: 12px;
    }
</style>

<MudStack Spacing="3">
    <MudCard Outlined="true">
        <MudCardHeader>Step 1 - Choose an LLC Name</MudCardHeader>
        <MudCardContent>
            <MudContainer>
                <ol>
                    <li>Pick a name for your Wyoming LLC.</li>
                    <li>Ensure your LLC name is not already taken via the <ExternalLink Href="https://wyobiz.wyo.gov/business/filingsearch.aspx">Wyoming Secretary of State's Business Database</ExternalLink>.</li>
                </ol>
            </MudContainer>
        </MudCardContent>
    </MudCard>
    <MudCard Outlined="true">
        <MudCardHeader>Step 2 - Get Virtual Address & Registered Agent</MudCardHeader>
        <MudCardContent>
            <MudContainer>
                <ol>
                    <li>Get a Wyoming Virtual Address via <ExternalLink Href="https://www.northwestregisteredagent.com/">Northwest Registered Agent</ExternalLink>. ($29/mo)</li>
                    <li>Get a Wyoming Registered Agent via <ExternalLink Href="https://www.northwestregisteredagent.com/">Northwest Registered Agent</ExternalLink>. ($125/yr)</li>
                </ol>
            </MudContainer>
            <br/>
            <br/>
            <MudAlert Severity="Severity.Warning">
                The Virtual Address from Northwest Registered Agent has the suite number formatted as "#12345". The IRS and even some banks will NOT accept this format because they do not allow the "#" symbol in an address. The solution is to format the suite number as "Ste 12345" 100% of the time. This is the same address according to the post office.
                <br/>
                <br/>
                For example, ALWAYS change <br/><br/> "213 Main St #12345" <br/><br/> to <br/><br/> "213 Main St Ste 12345"
            </MudAlert>
        </MudCardContent>
    </MudCard>
    <MudCard Outlined="true">
        <MudCardHeader>Step 3 - Create LLC</MudCardHeader>
        <MudCardContent>
            <MudAlert Severity="Severity.Warning">
                Remember to change <br/><br/> "213 Main St #12345" <br/><br/> to <br/><br/> "213 Main St Ste 12345"
            </MudAlert>
            <br/>
            <br/>
            <MudContainer>
                <ol>
                    <li>
                        Create an LLC in Wyoming via <ExternalLink Href="https://www.legalzoom.com/">Legal Zoom</ExternalLink> ($100 total).
                
                        <MudContainer>
                            <ul>
                                <li>For the Principle Address, use the virtual address from Step 2.</li>
                                <li>For the Registered Agent, use the registered agent name and address from Step 2.</li>
                            </ul>
                        </MudContainer>
                    </li>
                </ol>
            </MudContainer>
        </MudCardContent>
    </MudCard>
    <MudCard Outlined="true">
        <MudCardHeader>Step 4 - Create EIN for LLC</MudCardHeader>
        <MudCardContent>
            <MudAlert Severity="Severity.Warning">
                The Virtual Address from Northwest Registered Agent has the suite number formatted as "#12345". The IRS website will NOT accept this format because they do not allow the "#" symbol in an address. The solution is to format the suite number as "Ste 12345". This is the same address according to the post office.
                <br/>
                <br/>
                For example, change <br/><br/> "213 Main St #12345" <br/><br/> to <br/><br/> "213 Main St Ste 12345"
            </MudAlert>
            <br/>
            <br/>
            <MudContainer>
                <ol>
                    <li>Create an EIN for your LLC via the <ExternalLink Href="https://www.irs.gov/businesses/small-businesses-self-employed/get-an-employer-identification-number">IRS</ExternalLink>. ($0 - FREE)</li>
                </ol>
            </MudContainer>
        </MudCardContent>
    </MudCard>
    <MudCard Outlined="true">
        <MudCardHeader>Step 5 - Open Bank Account for LLC</MudCardHeader>
        <MudCardContent>
            <MudAlert Severity="Severity.Warning">
                Remember to change <br/><br/> "213 Main St #12345" <br/><br/> to <br/><br/> "213 Main St Ste 12345"
            </MudAlert>
            <br/>
            <br/>
            <MudContainer>
                <ol>
                    <li>Open a business bank account for your LLC at a bank of your choice.</li>
                </ol>
            </MudContainer>
        </MudCardContent>
    </MudCard>
</MudStack>